/*====== google fonts========= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/*===== base=====*/

* {
  margin: 0;
  padding: 0;
}

body,
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/*==== Header ====*/
header {
  background: #2d25a0;
  height: 677px;
  margin-bottom: 70px;
}

/* btn styel */

a {
  text-decoration: none;
}

.btn {
  font-family: "Source Sans Pro", sans-serif;
  width: 150px;
  height: 50px;
  background: #e02c6d;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;

  transition: 0.7s ease-in-out;
}
.btn:hover {
  transform: translate(13px);
  letter-spacing: 3px;
}
/* Navigation */
.nav-bar {
  height: 90px;
  margin-bottom: 49px;
}

/*==== Banner ====*/
.banner-wrapper {
  width: 1161px;
  margin-left: auto;
  margin-right: auto;
}
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.banner-text {
  margin-top: 55px;
}

.banner-text h1 {
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 27px;
}

.banner-img img {
  width: 556px;
  height: 438px;
  margin-left: 20px;
}
.banner-img:hover

/*======= player  start  =====*/
.player-wrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.all-player {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.player {
  width: 300px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-img img {
  width: 300px;
  height: 256px;
}
.player-text h3 {
  font-size: 28px;
  font-weight: 700;
  color: #18191f;
}
.player-text p {
  color: #6c6c6c;
}

/*===== Flag ===== */
.Flag-wrapper {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.Flag-header {
  text-align: center;
}
.Flag-header h2 {
  font-size: 36px;
  color: rgb(2, 2, 2);
}
.Flag-header p {
  color: rgb(255, 255, 255);
}
.Flag {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 30px;
}
.Flag-img img {
  width: 100%;
  border-radius: 30px;
  transition: 0.8s ease-in-out;
}

/*==== Flag part  ==== */

/*===== footer-list-item ==== */
.bg-color {
  background: #000000;
}
.footer-list-wrapper {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 40px;
  margin-bottom: 50px;
  margin-top: 100px;
}
.footer-list-item {
  text-align: center;
}
.footer-list-text {
  text-align: left;
  margin-left: 30px;
}
.footer-list-text h3 {
  font-size: 28px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
}
.footer-list-text p {
  margin-bottom: 5px;
}
.footer-list-text p a {
  color: rgb(136, 136, 136);
  font-size: 18px;
}

/* ========footer part start ===== */
footer {
  display: flex;
  justify-content: center;
}
.footer-img img {
  width: 483px;
  height: 110px;
}
.icon {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.icon .fab {
  margin-right: 14px;
  background: #ddd;
  padding: 8px;
  border-radius: 50%;
  color: #777;
}
.footer-text {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

/*======= footer ======*/
