/* GoogleFont Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

/*============= Base =================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
}
.container {
  max-width: 90%;
  margin: 0 auto;
}

/*=========== VARIABLE CSS ===========*/

:root {
  /***==== colors ====***/
  --first-color: ;
  --first-color-second: ;
  --firsrt-color-lighter: ;
  --title-color: ;
  --body-color: ;
  --btn-color: ;

  /***==== Font and Typography ====***/

  --body-font: "Poppins", sans-serif;
  --big--font-size: ;
  --h1--font-size: ;
  --h2-font-size: ;
  --h3-font-size: ;
  --normal-font-size: ;
  --samll-font-size: ;
  --samller-font-size: ;

  /*** Font Weight ***/
  --font-medium: ;
  --font-semi-bold: ;
}

/*============= header =================*/
